.DS_Store
*~
ansible-playbook/roles/emacs/files/emacs/amx-items
ansible-playbook/roles/emacs/files/emacs/ddskk.d/*
ansible-playbook/roles/emacs/files/emacs/elpa/
ansible-playbook/roles/emacs/files/emacs/elpy/
ansible-playbook/roles/emacs/files/emacs/persp-confs/
ansible-playbook/roles/emacs/files/emacs/places
ansible-playbook/roles/emacs/files/emacs/prescient
ansible-playbook/roles/emacs/files/emacs/projectile-bookmarks.eld
ansible-playbook/roles/emacs/files/emacs/recentf
ansible-playbook/roles/emacs/files/emacs/request/
ansible-playbook/roles/emacs/files/emacs/session.*
ansible-playbook/roles/emacs/files/emacs/snippets/
ansible-playbook/roles/emacs/files/emacs/transient/
ansible-playbook/roles/emacs/files/emacs/custom.el
ansible-playbook/roles/emacs/files/emacs/bookmarks
ansible-playbook/roles/emacs/files/emacs/history
ansible-playbook/roles/emacs/files/emacs/.cache/
ansible-playbook/roles/emacs/files/emacs/.lsp-session*
ansible-playbook/roles/emacs/files/emacs/config.el
ansible-playbook/roles/emacs/files/emacs/init.bak
.vim/dein/.cache/
.vim/dein/cache_vim
.vim/dein/repos/
.vim/dein/state_vim.vim
!.gitkeep
