.DS_Store
*~
files/emacs/amx-items
files/emacs/ddskk.d/*
files/emacs/elpa/
files/emacs/elpy/
files/emacs/persp-confs/
files/emacs/places
files/emacs/prescient
files/emacs/projectile-bookmarks.eld
files/emacs/recentf
files/emacs/request/
files/emacs/session.*
files/emacs/snippets/
files/emacs/transient/
files/emacs/custom.el
files/emacs/bookmarks
files/emacs/history
files/emacs/.cache/
files/emacs/.lsp-session*
files/emacs/README.el
emacs/files/emacs/init.bak
.vim/dein/.cache/
.vim/dein/cache_vim
.vim/dein/repos/
.vim/dein/state_vim.vim
!.gitkeep
.zcompdump
Brewfile.lock.json
files/git/config
