configuration {
  modes: "window,drun,combi,bookmark:~/.config/rofi/scripts/bookmark.sh";
  combi-modes: [window,drun,bookmark];
  sidebar-mode: true;
}

@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
